<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.knime.workbench.repository.categories">
    <category description="Category containing GPCRDB nodes" icon="icons/default.png" level-id="gpcrdbNodes" name="GPCRDB" path="/"/>
  </extension>

  <extension point="org.knime.workbench.repository.nodes">
    <node category-path="/" factory-class="nl.esciencecenter.e3dchem.gpcrdb.structures.StructuresOfProteinNodeFactory" id="nl.esciencecenter.e3dchem.gpcrdb.structures.StructuresOfProteinNodeFactory"/>
  </extension>

</plugin>
