/**
 * 
 * No descripton provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */


package nl.esciencecenter.e3dchem.gpcrdb.client;

import nl.esciencecenter.e3dchem.gpcrdb.client.ApiCallback;
import nl.esciencecenter.e3dchem.gpcrdb.client.ApiClient;
import nl.esciencecenter.e3dchem.gpcrdb.client.ApiException;
import nl.esciencecenter.e3dchem.gpcrdb.client.ApiResponse;
import nl.esciencecenter.e3dchem.gpcrdb.client.Configuration;
import nl.esciencecenter.e3dchem.gpcrdb.client.Pair;
import nl.esciencecenter.e3dchem.gpcrdb.client.ProgressRequestBody;
import nl.esciencecenter.e3dchem.gpcrdb.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;

import nl.esciencecenter.e3dchem.gpcrdb.client.model.ProteinSerializer;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class ServicesproteinApi {
    private ApiClient apiClient;

    public ServicesproteinApi() {
        this(Configuration.getDefaultApiClient());
    }

    public ServicesproteinApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for proteinByAccessionDetailGET */
    private com.squareup.okhttp.Call proteinByAccessionDetailGETCall(String accession, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'accession' is set
        if (accession == null) {
            throw new ApiException("Missing the required parameter 'accession' when calling proteinByAccessionDetailGET(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/services/protein/accession/{accession}/".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "accession" + "\\}", apiClient.escapeString(accession.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Get a single protein instance by accession
     * Get a single protein instance by accession&lt;br/&gt;/protein/accession/{accession}/&lt;br/&gt;{accession} is a protein identifier from Uniprot, e.g. P07550
     * @param accession  (required)
     * @return ProteinSerializer
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ProteinSerializer proteinByAccessionDetailGET(String accession) throws ApiException {
        ApiResponse<ProteinSerializer> resp = proteinByAccessionDetailGETWithHttpInfo(accession);
        return resp.getData();
    }

    /**
     * Get a single protein instance by accession
     * Get a single protein instance by accession&lt;br/&gt;/protein/accession/{accession}/&lt;br/&gt;{accession} is a protein identifier from Uniprot, e.g. P07550
     * @param accession  (required)
     * @return ApiResponse&lt;ProteinSerializer&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ProteinSerializer> proteinByAccessionDetailGETWithHttpInfo(String accession) throws ApiException {
        com.squareup.okhttp.Call call = proteinByAccessionDetailGETCall(accession, null, null);
        Type localVarReturnType = new TypeToken<ProteinSerializer>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get a single protein instance by accession (asynchronously)
     * Get a single protein instance by accession&lt;br/&gt;/protein/accession/{accession}/&lt;br/&gt;{accession} is a protein identifier from Uniprot, e.g. P07550
     * @param accession  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call proteinByAccessionDetailGETAsync(String accession, final ApiCallback<ProteinSerializer> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = proteinByAccessionDetailGETCall(accession, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ProteinSerializer>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for proteinDetailGET */
    private com.squareup.okhttp.Call proteinDetailGETCall(String entryName, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // verify the required parameter 'entryName' is set
        if (entryName == null) {
            throw new ApiException("Missing the required parameter 'entryName' when calling proteinDetailGET(Async)");
        }
        

        // create path and map variables
        String localVarPath = "/services/protein/{entry_name}/".replaceAll("\\{format\\}","json")
        .replaceAll("\\{" + "entry_name" + "\\}", apiClient.escapeString(entryName.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    /**
     * Get a single protein instance by entry name
     * Get a single protein instance by entry name&lt;br/&gt;/protein/{entry_name}/&lt;br/&gt;{entry_name} is a protein identifier from Uniprot, e.g. adrb2_human
     * @param entryName  (required)
     * @return ProteinSerializer
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ProteinSerializer proteinDetailGET(String entryName) throws ApiException {
        ApiResponse<ProteinSerializer> resp = proteinDetailGETWithHttpInfo(entryName);
        return resp.getData();
    }

    /**
     * Get a single protein instance by entry name
     * Get a single protein instance by entry name&lt;br/&gt;/protein/{entry_name}/&lt;br/&gt;{entry_name} is a protein identifier from Uniprot, e.g. adrb2_human
     * @param entryName  (required)
     * @return ApiResponse&lt;ProteinSerializer&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<ProteinSerializer> proteinDetailGETWithHttpInfo(String entryName) throws ApiException {
        com.squareup.okhttp.Call call = proteinDetailGETCall(entryName, null, null);
        Type localVarReturnType = new TypeToken<ProteinSerializer>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get a single protein instance by entry name (asynchronously)
     * Get a single protein instance by entry name&lt;br/&gt;/protein/{entry_name}/&lt;br/&gt;{entry_name} is a protein identifier from Uniprot, e.g. adrb2_human
     * @param entryName  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call proteinDetailGETAsync(String entryName, final ApiCallback<ProteinSerializer> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = proteinDetailGETCall(entryName, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<ProteinSerializer>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
